/* LOGIN */

.img-hover-zoom {
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.img-hover-zoom a {
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.centered-text {
  font-size: 1.5em;
  font-weight: 700;
}

.centered-text-line {
  font-size: smaller;
}

.card-sign-in {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* END OF LOGIN */

/* MAIN SECTION */
main {
  width: auto;
}

/* END OF MAIN SECTION */

/* CURSOR FOR SALDO */
.saldo {
  cursor: cell;
}

/* END OF CURSOR FOR SALDO */

/* PIE CHART CANVAS */
#piechartcontainer {
  margin: auto;
  width: 40%;
}

/* END OF PIE CHART CANVAS */

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* END OF FOOTER */